.error{
    color:red;
}
.box-header{
    overflow:auto;
    overflow-x:hidden;
}
.box-header ul li{
    list-style:none;
    margin-top: 5px;
}
.box-header ul{
    padding: 0;
}
.card{
    width:90%;
    margin-left: 5%;
    min-height: 160px;
    border:1px solid #878787;
    padding:5px ;
    border-radius: 5px;
}

.card .card-middle{
    min-height: 80px;
    font-size:24px;
    text-align: center;
    line-height: 80px;
}
.card .card-top{
    min-height:30px;
    line-height:30px;
}
.text-success{
    color:#3c763d;
}
.text-fail{
    color:orangered;
}

.card .card-bottom{
    min-height: 25px;
    line-height: 25px;
}
.card .card-bottom span.ml10{
    margin-left: 10px;
}
body,html{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
    margin:0; padding:0;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
.pager-list {
    position: relative;
    font-size: 14px;
    text-align: center;
    margin: 10px 0px;
}
.pager-list > .page {
    display: block;
    position: relative;
}
.pager-list ul li {
    display: inline-block;
    min-width: 37px;
}
.pager-list ul li.next,
.pager-list ul li.prev {
    width: auto;
}
.pager-list ul li.disable a {
    color: #848c94;
}
.pager-list ul li.text {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0px;
    color: black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.pager-list ul li.text:last-child{
    margin-left: 1rem;
}
.pager-list ul li.text input.go,
.pager-list ul li.text select.go {
    width: 40px;
    padding: 6px 2px;
    border: 1px solid #ccc;
    margin-left: 0.5rem;
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.pager-list ul li.text select.go {
    width: 50px;
}
.pager-list ul li.text span.go {
    color: #fff;
    margin-left: 2px;
    cursor: pointer;
    background-color: #337ab7;
    padding: 5px 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.pager-list ul li a {
    display: block;
    padding: 5px 11px;
    margin-left: -1px;
    /*height: 26px;*/
    line-height: 26px;
    text-align: center;
    border: 1px solid #ddd;
    color: #337ab7;
}
.pager-list ul li.prev a{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pager-list ul li.next a{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pager-list ul li a:hover,
.pager-list ul li.active a {
    background-color: #337ab7;
    color: #fff;
}